.skills-container {
  margin: 50px;
  .flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        font-weight: 100;
        font-size: 15px;
      }
   
  }
  h1{
      text-align: center;
      margin:5px;
  }
  .parastyle {
    font-weight: 100;
    font-size: 12px;
  }
  .content-row {

    .form-field-content {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

    .chips-content {
        margin-left: -12px !important;
        margin-right: 7px !important;
        width: 30px !important;
        height: 30px !important;
        font-size: 30px !important;
        background-color: #1d1818 !important;
        border-radius: 100% !important;
        color: white !important;
      }
      
      .chip-list-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        div {
          width: 100%;
          justify-content: space-around;
        }
      }
  
  .form-buttons3 {
    background-color: #61b2d4;
    color: white;
    margin: 15px;
    width: 120px;
  }

}