.mainhead {
    display: flex;
    justify-content: space-between;
    background-color: #3a4c59;
  
  
   div {
       color:white;
    width: 223px;
    margin: 8px;
    text-align: center;
    font-size: 14px;
  }
}